
.menu {
    background-color: #333; 
    padding: 10px; 
  }
  
  .menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .menu li {
    margin-right: 20px; 
  }
  
  .menu li:last-child {
    margin-right: 0; 
  }
  
  .menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
  }
  
  .menu a:hover {
    background-color: #2c2a2a; 
    border-radius: 4px; 
  }